
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}
@using System.Globalization
@model IEnumerable<Foodnetic.ViewModels.Groceries.GroceryViewModel>
<style>
    .bg-lightgreen {
        background-color: #90EE90
    }

    .bg-lightdanger {
        background-color: #FFb6c1
    }

    .hr-green {
        background-color: black;
        width: 50%
    }
</style>
<body>
    <header>
        @{
            await Html.RenderPartialAsync("_DefaultNavbarPartial");
        }
    </header>
    <div class="intro-text text-center">
        <h1 class="intro-lead-in mb-4 mt-4">Virtual Fridge</h1>
        <hr class="hr-green" />
        <a asp-controller="Fridge" asp-action="AddGrocery" class="btn btn-xl">Add Grocery</a>
    </div>
    <table class="table w-75 mx-auto table-hover my-5 table-bordered">
        <thead>
        <tr class="row">
            <th class="col-md-1">#</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-3">Quantity</th>
            <th class="col-md-4">Expiration Date</th>
        </tr>
        </thead>
        @if (Model != null)
        {
            var index = 1;
            foreach (var item in Model.OrderBy(g => g.ExpirationDate))
            {
                if (@item.ExpirationDate <= DateTime.Today)
                {
                    continue;
                }

                 <tbody>
                 <tr class="row text-center">
                     <td class="col-md-1">@(index++)</td>
                     <td class="col-md-4">@item.Name</td>
                     <td class="col-md-3">@item.Quantity</td>
                     @if (@item.ExpirationDate.AddDays(-2) <= DateTime.Now)
                     {
                         <td class="col-md-4 bg-lightdanger">@item.ExpirationDate.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)</td>
                     }
                     else
                     {
                         <td class="col-md-4 bg-lightgreen">@item.ExpirationDate.ToString("dd-MM-yyyy", CultureInfo.InvariantCulture)</td>
                     }

                 </tr>
                 </tbody>
             }
        }
    </table>
</body>