@using Foodnetic.Constants
@using Foodnetic.Infrastructure
@model IEnumerable<Foodnetic.ViewModels.Comments.CommentViewModel>


<div class="clearfix my-3"></div>
<hr>
<div class="container mt-5">
    <ul class="media-list">
        @foreach (var item in Model.OrderBy(x => x.PostedOn))
        {
            <li class="media">
                <div class="media-body border my-3">
                    <span class="text-muted pull-right">
                        <small class="text-muted">@item.PostedOn</small>
                    </span>
                    <strong class="text-success">@item.Username</strong>
                    <h5>
                        <strong>
                            @item.Content
                        </strong>
                    </h5>
                    @if (this.User.IsInRole(GlobalConstants.ModeratorRole) && item.Content != ConstantMessages.ModeratorDeleteCommentContentMsg)
                    {
                        <form asp-controller="Moderators" asp-action="DeleteComment" asp-area="Administration"  method="post">
                            <input type="text" name="@(nameof(item.Id))" value="@item.Id" hidden />
                            <input type="text" name="@(nameof(item.RecipeId))" value="@item.RecipeId" hidden />
                            <button type="submit" class="btn btn-xs">Delete</button>
                            <br />
                        </form>
                    }
                </div>
            </li>
        }
    </ul>
</div>