@{
    ViewData["Title"] = "All Recipes";
    Layout = "~/Views/Shared/_SecondaryLayout.cshtml";
}
@using Foodnetic.ViewModels.Recipes
@model IEnumerable<Foodnetic.ViewModels.Recipes.AllRecipesViewModel>

<style>
    .checked {
        color: orange;
    }

    .hr-green {
        background-color: black;
        width: 50%
    }
</style>
<body>
    <header>
        @{
            await Html.RenderPartialAsync("_DefaultNavbarPartial");
        }
    </header>
    <div class="intro-text text-center">
        <h1 class="intro-lead-in mb-4 mt-4">All Recipes</h1>
        <hr class="hr-green" />
        <a asp-controller="Recipes" asp-action="Create" class="btn btn-xl">Create Recipe</a>
    </div>
    <div class="dropdown text-center mt-5">
        <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">All</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    @{
        var recipes = Model as AllRecipesViewModel[] ?? Model.ToArray();
        var row = 1;
    }


    @foreach (var item in recipes)
    {
        if (row == 1)
        {
            @:<div class="row d-flex justify-content-around mt-5">
        }

                  <article class="col-md-3 border border-success text-center">
                      <div class="my-3">
                          <img src="@item.PictureUrl" class="img-thumbnail" />
                      </div>
                      <div>
                          @for (int j = 0; j < Math.Truncate(@item.Rating); j++)
                          {
                              <span class="fa fa-star checked"></span>
                          }
                          @if (@item.Rating % 1 == 0)
                          {
                              for (int j = 0; j < 5 - Math.Truncate(@item.Rating); j++)
                              {
                                  <span class="fa fa-star"></span>
                              }
                          }
                          else
                          {
                              <span class="fa fa-star-half checked"></span>
                              for (int j = 0; j < 5 - (Math.Truncate(@item.Rating) + 1); j++)
                              {
                                  <span class="fa fa-star"></span>
                              }
                          }
                      </div>
                      <div><h4>@item.Name</h4></div>
                      <div>
                          <p>@item.Description</p>
                      </div>
                      <div><h5>by @item.Author</h5></div>
                      <div><a asp-route-id="@item.Id" asp-action="Recipe" asp-controller="Recipes">View more...</a></div>
                  </article>
        row = row + 1;

        if (row % 4 == 0)
        {
            row = 1;
            @:</div>
        }

    }

</body>

